<h1><%= @todo.title %></h1>

<p>
  <strong>Category:</strong>
  <%= @todo.category.name %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @todo.priority? ? "Yes" : "No" %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @todo.completed? ? "Yes" : "No" %>
</p>

<%= link_to "â† Back to List", todos_path, class: "btn btn-secondary" %>
<%= link_to "Edit", edit_todo_path(@todo), class: "btn btn-warning ms-2" %>
<%= button_to "Delete",
      todo_path(@todo),
      method: :delete,
      data: { confirm: "Are you sure?" },
      form: { class: "d-inline" },
      class: "btn btn-danger ms-2" %>
