<h1><%= @category.name %></h1>
<p><%= @category.description %></p>

<hr>

<h2>ToDos in this category</h2>
<ul>
  <% @category.todos.each do |todo| %>
    <li><%= link_to todo.title, todo_path(todo) %></li>
  <% end %>
</ul>

<hr>

<%= link_to "â† Back to Categories", categories_path, class: "btn btn-secondary me-2" %>
<%= link_to "Edit Category",
      edit_category_path(@category),
      class: "btn btn-warning me-2" %>

<%= button_to "Delete Category",
      category_path(@category),
      method: :delete,
      data: { confirm: "This will also delete all its ToDos. Are you sure?" },
      form: { class: "d-inline" },
      class: "btn btn-danger" %>
